{% extends "base.html" %}

{% block content %}
{% if questions %}
<div id="questions">
    <h1>Recent questions</h1>
    {% for question in questions %}
    <div class="question">
        <a href="{% url 'poll_detail' question.id %}">{{ question.question_text }}</a>
    </div>
    {% endfor %}
</div>
{% else %}
No question available.
{% endif %}

<!-- Add this part -->
{% if today_questions %}
<div id="today_questions">
    <h1>Today questions</h1>
    {% for question in today_questions %}
    <div class="question">
        <a href="{% url 'poll_detail' question.id %}">{{ question.question_text }}</a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}