div.question {
    padding: 5px;
}

div.question + div.question {
    border-top: 1px solid black;
}

ul {
    list-style: none;
}

ul li {
    padding: 5px;
}

ul li + li {
    border-top: 1px solid black;
}

body{
    background-color: blanchedalmond;
}
/** more goes here **/